<!DOCTYPE html>
<html lang="en">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom" style="background-color: rgb(203, 199, 199);">
        
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">
                <font style="vertical-align: inherit;">
                    
                    <font style="vertical-align: inherit;">MachadoTickets</font>
                </font>
            </span>
        </a>
        

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/adm/list" class="nav-link">  
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Funcionários</font>
                </font>
                </a></li>
            <li class="nav-item"><a href="/events/list" class="nav-link">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Eventos</font>
                    </font>
                </a></li>
            <li class="nav-item"><a href="/local/list" class="nav-link">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Locais</font>
                    </font>
                </a></li>
            <li class="nav-item"><a href="/store/list" class="nav-link">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Comprar Bilhetes</font>
                    </font>
                </a></li>
            
                </a></li>
        </ul>
    </header>

</html>

