<app-header></app-header>
<div class="container-xl">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-12"><h2><b>Ticket Details</b></h2></div> 
        </div>
      </div>
      <div class="container-xl">
        <div class="mb-3">
          <div class="form-check">
            <label class="form-label" for="true">Kid:{{evento.pkid}}€ </label>
            <input type="number" style="width: 15%;" name="pkid" id="pkid" min="0" class="form-control" [(ngModel)]="v1" (change)="calcularPrecoTotal()" />
          </div>
          <br>
          <div class="form-check">
            <label class="form-label" for="false">Adult: {{evento.padult}}€ </label>
            <input class="form-control" style="width: 15%;" type="number" id="padult" name="padult" min="0" [(ngModel)]="v2" (change)="calcularPrecoTotal()" />
          </div>
          <br>
          <div class="form-check">
            <label class="form-label" for="false">Old: {{evento.pold}}€ </label>
            <input class="form-control" style="width: 15%;" type="number" id="pold" min="0" name="pold" [(ngModel)]="v3" (change)="calcularPrecoTotal()" />
          </div>
          <br>
        </div>
        <div class="form-check">
          <label class="form-label" for="false"><b>Preço total:</b></label>
          <input [(ngModel)]="resultado" type="number" disabled>
        </div>
        <br>
        <button mat-raised-button color="primary" (click)="adicionarAoCarrinho()">Adicionar ao Carrinho</button>
        <button mat-raised-button color="primary" (click)="add()"> Comprar em separado </button>
      </div>
    </div>
  </div>
  